* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  --primary: #59cdff;
  --background: #f9f9f9;
}

body {
  width: 100%;
  height: 100vh;
  background: #f9f9f9;
}

nav {
  width: 100%;
  height: 8.62vh;
  padding: 0 3%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--primary);
  box-shadow: 0 1vh 35px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
}

nav ul {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15%;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

main {
  width: 100%;
  height: 91.38vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .dashboard {
  width: 90%;
  height: 92%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-gap: 5%;
}

.card {
  background: #ffff;
  border-radius: 20px;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
}

.dashboard__header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3%;
}

.dashboard__title {
  font-size: 1.5rem;
}

.dashboard__subtitle {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.dashboard__recommendations {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
  height: 100%;
  padding: 2.5% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.dashboard__recommendations__list {
  width: 98%;
  height: 18rem;
  align-self: flex-end;
  overflow-y: scroll;
}

.dashboard__recommendations__list::-webkit-scrollbar {
  display: none;
}

.dashboard__recommendations__list__item {
  width: 100%;
  height: 16rem;
  margin-bottom: 1rem;
}

.dashboard__recommendations__list__item img{
  width: 100%;
  height: 100%;
}

.dashboard__categories {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 4;
  height: 100%;
  padding: 2.5% 3%;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.dashboard__categories__grid__container {
  width: 98%;
  height: 15rem;
  overflow: scroll;
}

.dashboard__categories__grid__container::-webkit-scrollbar {
  display: none;
}

.dashboard__categories__list {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 23%);
  grid-auto-rows: 5rem;
  place-items: center;
  grid-gap: 1%;
}

.dashboard__categories__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard__categories__category {
  position: relative;
  padding: 5% 15%;
  border: 3px solid var(--primary);
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.dashboard__categories__category::before{
  content: "";
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  transition: all 150ms ease-in-out;
}

.dashboard__categories__category:hover::before, 
.dashboard__categories__category:hover .dashboard__categories__delete__icon{
  opacity: 1;
}

.dashboard__categories__delete__icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.dashboard__categories__category__button{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.dashboard__categories__list__button {
  width: 32%;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background: var(--primary);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 25px 0 rgba(89, 205, 255, 0.75);
  cursor: pointer;
}

.dashboard__plan {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 3;
  grid-column-end: 6;
  height: 100%;
  padding: 3.5% 3.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.dashboard__plans__list {
  width: 95%;
  height: 85%;
  overflow: scroll;
  box-shadow: inset 0px 11px 8px -12px #ccc, inset 0px -11px 8px -12px #ccc;
}

.dashboard__plans__list::-webkit-scrollbar {
  display: none;
}

.dashboard__plans__list__plan {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  cursor: pointer;
}

.dashboard__plans__list__button {
  width: 25%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background: var(--primary);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 25px 0 rgba(89, 205, 255, 0.75);
  cursor: pointer;
}

.add-category__card{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50vh;
  background: white;
}

.add-category__overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

/* Large - 1600, 1536, 1440 */
@media only screen and (max-width: 100em) {
  .dashboard__categories__list__button {
    width: 38%;
    height: 3rem;
  }
  .dashboard__plans__list__button {
    width: 30%;
  }
}

/* Height - <768 */
@media only screen and (max-height: 45em) {
}

/* Medium - 1366, 1280*/
@media only screen and (max-width: 85.375em) {
}

/* Small - 1024x768 */
@media only screen and (max-width: 64em) {
}

/* Tablet - 768x1024 */
@media only screen and (max-width: 48em) {

}

/* Phone - 360x640 */
@media only screen and (max-width: 26.5625em) {
}