:root{
    --primary: #59CDFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--primary);
    display: flex;
    padding: 0.25em 2em;
}

nav a{
    margin: 0 2em;
}

.home-icon{
    margin: 0 2em 0 0;
}