/* ===========
 Global Styles 
 =========== */
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary: #59cdff;
  }
  
  html {
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    min-height: 100vh;
    height: 100vh;
  }
  
  #blue {
    font-weight: 700;
    text-decoration: none;
    color: var(--primary);
  }
  
  /* ===========
   Main Container
   =========== */
  main {
    width: 100%;
    height: 100%;
    padding: 10% 5% 2% 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  main h1 {
    font-size: 3.5rem;
    margin-bottom: 3.476%;
  }
  
  /* ===========
       Form
   =========== */
  main form {
    width: 48.96%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  main form label {
    font-size: 2rem;
    margin-bottom: 1%;
  }
  
  .form__container {
    position: relative;
    margin-bottom: 3.387%;
  }
  
  /* ===========
   Custom Dropdown
   =========== */
  main form #form__input__select {
    width: 100%;
    height: 3.5rem;
    border: 5px solid var(--primary);
    border-radius: 50px;
    padding: 0 5%;
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    outline: none;
    appearance: none;
  }
  
  .custom__arrow {
    --arrowSize: 0.75rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    height: 100%;
    pointer-events: none;
  }
  
  .custom__arrow::before,
  .custom__arrow::after {
    content: "";
    position: absolute;
    border-left: var(--arrowSize) solid transparent;
    border-right: var(--arrowSize) solid transparent;
    border-top: var(--arrowSize) solid var(--primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #add {
    width: 12rem;
    height: 5rem;
    margin-bottom: 5.5%;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    background: var(--primary);
    border: none;
    border-radius: 50px;
    outline: none;
    align-self: center;
    transition: all 100ms ease-in-out;
    cursor: pointer;
  }
  
  #add:hover {
    font-size: 2.65rem;
  }
  
  /* ===========
      Choosen
   =========== */
  .choosen__grid {
    width: 100%;
    height: 65%;
    padding-top: 2.5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-auto-rows: 10vh;
    place-items: center;
    gap: 7.5%;
    overflow-y: scroll;
  }

  .choosen__grid::-webkit-scrollbar{
    display: none;
  }
  
  .choosen__preference__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .choosen__preference {
    position: relative;
    padding: 5% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 700;
    border: 5px solid var(--primary);
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
  }
  
  .choosen__preference::before {
    content: "";
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary);
    transition: all 150ms ease-in-out;
  }

  .choose__preference__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 250ms ease-in-out;
  }
  
  .choosen__preference:hover::before,
  .choosen__preference:hover .choose__preference__icon {
    opacity: 1;
  }
  
  .choosen__preference__button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
      z-index: 2;
  }
  
  /* ===========
   Continue Button
   =========== */
  #continue {
    margin-top: auto;
    font-weight: 700;
    color: var(--primary);
    text-decoration: none;
    align-self: flex-end;
  }
  
  /* ===========
    Media Query
   =========== */
  /* Large - 1600, 1536, 1440 */
  @media only screen and (max-width: 100em) {
  }
  
  /* Medium - 1366, 1280*/
  @media only screen and (max-width: 85.375em) {
  }
  
  /* Small - 1024x768 */
  @media only screen and (max-width: 64em) {
    main h1 {
      font-size: 3rem;
    }
    main form {
      width: 70%;
    }
  }

   /* Height - <768 */
   @media only screen and (max-height: 45em) {
    main {
      padding-top: 2%;
    }
  }
  
  /* Tablet - 768x1024 */
  @media only screen and (max-width: 48em) {
    main{
      padding-bottom: 4%;
    }
    main h1 {
      font-size: 2.5rem;
    }
    main > form {
      width: 90%;
      margin-bottom: 5%;
    }
    #continue{
      font-size: 1.5rem;
    }
  }
  
  /* Phone - 360x640 */
  @media only screen and (max-width: 26.5625em) {
    main {
      padding-top: 8%;
      padding-bottom: 8%;
    }
    main h1 {
      font-size: 1.25rem;
      margin-bottom: 10%;
    }
    main > form {
      margin-bottom: 6%;
    }
    main form label {   
      font-size: 1.1rem;
      margin-bottom: 2.5%;
    }
    .form__container {
      margin-bottom: 6%;
    }
    main form #form__input__select {
      height: 3rem;
      font-size: 1rem;
    }
    #add {
      width: 8rem;
      height: 4rem;
      font-size: 2rem;
    }
    .choosen {
      height: 51%;
    }
    .choosen__grid {
      gap: 7.5%;
    }
    .choosen__preference__container{
      height: 100%;
    }
    #continue{
      font-size: 1.25rem;
    }
  }